# dependencies
node_modules/

# environment variables (IMPORTANT)
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# build outputs (Next.js)
.next/
out/

# production build
dist/
build/

# IDE files (optional but good)
.vscode/

backend/data/